@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root{
    --fonte-: 1.2rem;
    --corDeFundo-: #292d2e;
    --TextoHeader-:#f6f6f6;
    --preto-: #000000;
}


body,
html {
    background: linear-gradient(to bottom,rgb(238, 238, 245), #d4def3);
    height: 100%;
    overflow: hidden;
}

a{
    color: rgb(49, 50, 56);
}

.fa-house {
    padding: 25px 40px;
    font-size: 2rem;
    color: rgb(29, 31, 41);
    cursor: pointer;
}

#iconeHeader{
    width: 100px;
}
hr{
    width: 95%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

#headerLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
    
}
.header__li{
  display: flex;
  gap: 40px;
}

.header__ul{
    display: flex;
    padding: 10px 40px;
    justify-content: space-between;
    list-style-type: none;
    color: var(--TextoHeader-);
    align-items: center;
    }

.header__h3{
    font-size: 2.2rem;
    font-weight: 500;
}

.stylepoint{
    &:hover{
        cursor: pointer;
    }
}

a{
    text-decoration: none;
}

.pesquisa{
    width: 450px;
    background-color: #d9d9d9;
    color: var(--preto-);
    border: none;
    border-radius: 32px;
    font-size: var(--fonte-);
    text-align: center;
    opacity: 0.6;
    cursor:text;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    & i{
        font-size: 2rem;   
        margin-right: 10px;
    }
}

.pesquisaInput{
    text-decoration: none;
    border: 0;
    flex: 1;
    outline: none;
    padding: 20px;
}

.fa-solid{
    font-size: 42px;
}

.botoes{
    padding: 15px 80px;
    border-radius: 10px;
    background-color:#848484;
    opacity: 0.7;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    &:hover{
        opacity: 1;
        cursor: pointer;
    }
}

.secao_botoes{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#h1__principal{
    font-size: 2.5rem;
    text-align: center;
    padding: 45px;

}


.principal__calendarios{
    padding: 30px 5rem;
    gap: 20px;
    display: flex;
    align-items: start;
    overflow-y: hidden;
    overflow-x: auto;
}

.corpo__tarefas{
   width: 400px;
    background:linear-gradient(to bottom, #e6e3e3,rgb(210, 208, 208));
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-height: 32.8rem; /* ou a altura que você quiser */
    overflow-y: auto; /* só scroll vertical */
    overflow-x: hidden; /* esconde scroll horizontal */
    gap: 10px;
    flex-shrink: 0;

}

.nome__projeto_calendario{
    background-color: white;
    height: fit-content;
    display: flex;
    padding: 15px ;
    border-radius: 15px;
    justify-content: center; /* centraliza na horizontal */
    align-items: center;  
}

.projeto__checkbox {
    display: flex;
    flex: 1;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    justify-content: space-between;
}

.active{
    opacity: 0.6;
}

.fa-bars{
    font-size: 42px;
    color: gray;
}

#menuLateral{
    display: none;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding: 20px;
    position: absolute;
    right: 0;
    background-color: rgb(243, 243, 253);
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(175, 170, 196);
    margin: 10px;
    & ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 20px;
        width: 100%;
        & i{
            color: #292d2e;
        }
        & li{
            padding: 10px 20px;
            width: 100%;
            border-radius: 10px;
        }
        & li:hover{
            cursor: pointer;
            background-color: rgb(237, 237, 245);
            & i{
                color: rgb(255, 123, 0);
            }
            &{
                color: rgb(255, 123, 0);
                font-weight: 600;
            }
        }
        & .fa-solid{
            font-size: 1.5rem;
        }
    }
}

#headerLogo a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pai__projeto_checkbox{
    display: flex;
    flex: 1;
    background-color: #a6a6a6;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;

}
input[type="checkbox"] {
  accent-color:  #00bf63; /* pode ser qualquer cor */
}

