@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: rgb(32, 32, 39);
}

:root{
    --fonte-: 1.2rem;
    --corDeFundo-: #292d2e;
    --TextoHeader-:#f6f6f6;
    --preto-: #000000;
}


body, html{
    background: linear-gradient(to top,white, rgb(211, 225, 243));
    overflow-y: scroll;   /* desativa scroll horizontal e vertical */
    height: 100%;
    scrollbar-width: none;
}


/* inicio cabeçalho */

#iconeHeader{
    width: 100px;
}

#headerLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
}

.header__ul{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    list-style-type: none;
    color: var(--TextoHeader-);
    align-items: center;
}

.header__h3{
    font-size: 2.2rem;
    font-weight: 500;
}

.button_li{
    width: 165px;
    height: 45px;
    
}

.stylepoint{
    &:hover{
        cursor: pointer;
    }
}
a{
    text-decoration: none;
    color: #f6f6f6;
}


/* final cabeçalho */

/* inicio botão e pesquisa */
.allButtons{
    background: linear-gradient(to right, #f45507, #ffb001);
    color: var(--TextoHeader-);
    font-size: var(--fonte-);
    border: none;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    &:hover{
        transform: scale(1.1);
        box-shadow: rgb(243, 117, 32) 0 0 10px;
    }
}

.button__section{
    width: 200px;
    height: 50px;
}

.meioBotaoPesquisa{
    display: flex;
    margin-top: 5rem;
    justify-content: space-around;
    padding: 0 18% 0 17%;
}

#bundabunda{
    background-color: rgb(169, 196, 238);
    border-radius: 50px;
    opacity: 0.5;
}

.pesquisa{
    width: 450px;
    background: none;
    border: none;
    border-radius: 32px;
    font-size: var(--fonte-);
    text-align: center;
    opacity: 1;
    cursor:text;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    & i{
        font-size: 2rem;   
        margin-right: 10px;
        color: rgb(0, 0, 0);
    }
}

.pesquisaInput{
    background: none;
    border: 0;
    flex: 1;
    outline: none;
    padding: 20px;
}

    .pesquisaInput::placeholder{
        color: black;
        opacity: 1;
        font-size: 1rem;
        font-weight: 600;
    }

.buttonStatus{
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 11px;
    color: var(--TextoHeader-);
    font-size: var(--fonte-);
}

#ButtonStatusVermelho{
    background: linear-gradient(to right, #eb3939, #d82323);
}

#ButtonStatusAmarelo{
    background:linear-gradient(to right, #ffa800,#ffa938);
}

#ButtonStatusVerde{
    background:linear-gradient(to right, #00bf63, #02b337);
}

/* fim botão e pesquisa */

/* inicio projetos */
.mainBlocos{
    width: 100%;
    height: 650px;
    flex-wrap: wrap;
    padding: 15px  15% 0px 16%;
    margin: auto;
    display: grid;
    grid-template-rows: auto auto ;
    grid-template-columns: 1fr 1fr 1fr;
}

.meio_bloco{
    width: 380px;
    height: 270px;
    background:linear-gradient(to bottom, #efefff , #cfd1ee);
    box-shadow: rgb(192, 206, 252) 0 0 20px;
    border-radius: 20px;
    margin: 10px;
    padding: 0 20px 10px 20px;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    transition: 0.3s;
    &:hover{
        transform: scale(1.02) translateY(-15px);
        box-shadow: rgb(170, 186, 241) 0 0 30px;
        cursor: pointer;
    }
}

p{
    justify-content: space-between;
    display:flex;

    font-size: var(--fonte-);
}

.fa-solid{
    font-size: 42px;
    color: gray;
}

.branco{
    background-color: var(--TextoHeader-);
    width: 85%;
    height: 60%;

    border-radius: 16px;
}

#barraProgesso{
    width: 100%;
    height: 30px;
    background: linear-gradient(to right, #0758f4, #01caff);
    border-radius: 40px;
}

#barraDentro {
    width: 70%;
    height: 30px;
    background-color: rgb(233, 238, 247);
    border-radius: 40px;
}

.bloco_config{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.mudaCorVermelho{
    background-color: #eb3939;
    width: 20%;
    height: 30px;
    border-radius: 40px;
}

.mudaCorAmarelo{
    background-color: #ffa800;
    width: 20%;
    height: 30px;
    border-radius: 40px;
}

.mudaCorVerde{
    background-color: #00bf63;
    width: 20%;
    height: 30px;
    border-radius: 40px;
}

#blocoBarra{
    justify-content: space-around;
}

.active{
    opacity: 0.6;
}

#menuLateral{
    display: none;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding: 20px;
    position: absolute;
    right: 0;
    background-color: rgb(243, 243, 253);
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(175, 170, 196);
    margin: 10px;
    & ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 20px;
        width: 100%;
        & li{
            padding: 10px 20px;
            width: 100%;
            border-radius: 10px;
        }
        & li:hover{
            cursor: pointer;
            background-color: rgb(172, 172, 190);
            & i{
                color: white;
            }
            &{
                color: white;
                font-weight: 600;
            }
        }
        & .fa-solid{
            font-size: 1.5rem;
        }
    }
}

.cl_menuProjetos{
    display: none;
    position: static;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding: 20px;
    position: absolute;
    background-color: rgb(243, 243, 253);
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(175, 170, 196);
    margin: 10px;
    & ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 20px;
        width: 100%;
        & li{
            padding: 10px 20px;
            width: 100%;
            border-radius: 10px;
        }
        & li:hover{
            cursor: pointer;
            background-color: rgb(172, 172, 190);
            & i{
                color: white;
            }
            &{
                color: white;
                font-weight: 600;
            }
        }
        & .fa-solid{
            font-size: 1.5rem;
        }
    }
}

/* fim projetos */