@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root{
    --fonte-: 1.2rem;
    --corDeFundo-: #292d2e;
    --TextoHeader-:#f6f6f6;
    --preto-: #000000;
}


body, html{
    background: linear-gradient(to top, #000000, var(--corDeFundo-));

    overflow: hidden;   /* desativa scroll horizontal e vertical */
    height: 100%;
}

/* inicio cabeçalho */

#iconeHeader{
    width: 100px;
}

#headerLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    width: 100%;
}

.header__ul{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    list-style-type: none;
    color: var(--TextoHeader-);
    align-items: center;
}

.header__h3{
    font-size: 2.2rem;
    font-weight: 500;
}

.button_li{
    width: 165px;
    height: 45px;
    
}

.stylepoint{
    &:hover{
        cursor: pointer;
    }
}
a{
    text-decoration: none;
    color: #f6f6f6;
    
    }


/* final cabeçalho */

/* inicio botão e pesquisa */
.allButtons{
    background: linear-gradient(to right, #f45507, #ffb001);
    color: var(--TextoHeader-);
    font-size: var(--fonte-);
    border: none;
    border-radius: 20px;
}

.button__section{
    width: 200px;
    height: 50px;
}

.meioBotaoPesquisa{
    display: flex;
    margin-top: 5rem;
    justify-content: space-around;
    padding: 0 18% 0 17%;
}

.pesquisa{
    width: 450px;
    background-color: #d9d9d9;
    color: var(--preto-);
    border: none;
    border-radius: 32px;
    font-size: var(--fonte-);
    text-align: center;
    opacity: 0.6;
    cursor:text;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    & i{
        font-size: 2rem;   
        margin-right: 10px;
    }
}

.pesquisaInput{
    text-decoration: none;
    border: 0;
    flex: 1;
    outline: none;
    padding: 20px;
}

.buttonStatus{
    height: 50px;
    width: 180px;
    border: none;
    border-radius: 11px;
    color: var(--TextoHeader-);
    font-size: var(--fonte-);
}

#ButtonStatusVermelho{
    background-color: #eb3939;
}

#ButtonStatusAmarelo{
    background-color:#ffa800;
}

#ButtonStatusVerde{
    background-color:#00bf63;
}

/* fim botão e pesquisa */

/* inicio projetos */
.mainBlocos{
    display: grid;
    width: 100%;
    height: 650px;
    flex-wrap: wrap;
    padding: 15px  15% 0px 16%;
    margin: auto;
    display: grid;
    grid-template-rows: auto auto ;
    grid-template-columns: 1fr 1fr 1fr;
}

.meio_bloco{
    width: 380px;
    height: 270px;
    background-color:#d9d9d9;
    border-radius: 20px;
    margin: 10px;
    padding: 0 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

p{
    justify-content: space-between;
    display:flex;

    font-size: var(--fonte-);
}

.fa-solid{
    font-size: 42px;
    color: gray;
}

.branco{
    background-color: var(--TextoHeader-);
    width: 85%;
    height: 60%;

    border-radius: 16px;
}

#barraProgesso{
    width: 100%;
    height: 30px;
    background: linear-gradient(to right, #0758f4, #01caff);
    border-radius: 40px;
}

#barraDentro {
    width: 70%;
    height: 30px;
    background-color: rgb(63, 63, 63);
    border-radius: 40px;
}

.bloco_config{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.mudaCorVermelho{
    background-color: #eb3939;
    width: 20%;
    height: 30px;
    border-radius: 40px;
}

.mudaCorAmarelo{
    background-color: #ffa800;
    width: 20%;
    height: 30px;
    border-radius: 40px;
}

.mudaCorVerde{
    background-color: #00bf63;
    width: 20%;
    height: 30px;
    border-radius: 40px;
}

#blocoBarra{
    justify-content: space-around;
}

.active{
    opacity: 0.6;
}

/* fim projetos */