@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: rgb(32, 32, 39);
    border: none;
}

i{
    color: white;
}

input[type="checkbox"] {
  accent-color:  #00bf63; /* pode ser qualquer cor */
  color: white
  ;
}

:root {
    --fonte-: 1.2rem;
    --corDeFundo-: #292d2e;
    --TextoHeader-: #f6f6f6;
    --preto-: #000000;
}

body,
html {
    background: linear-gradient(to bottom,rgb(238, 238, 245), #d4def3);
    height: 100%;
    overflow: hidden;
}

h1 {
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.fa-house {
    padding: 25px 40px;
    font-size: 2rem;
    color: rgb(29, 31, 41);
    cursor: pointer;
}

.header__principal {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
}

.texto__emcima_da_barra {
    display: flex;
    gap: 25px;
}

#botao__renomear {
    color: white;
    background-color: #ffb001;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    font-size: 1.2rem;
    cursor: pointer;
}
#id_nomeProjeto {
    width: 400px;
    height: 40px;
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 1.2rem;
    padding-left: 20px;
    background-color: var(--corDeFundo-);
}
#barraProgresso {
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: gray;
    width: 500px;
    height: 45px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;

    & h3 {
        position: absolute;
        transform: translateX(160px);
        color: white;
        font-size: 1.4rem;
    }
}

#progresso {
    background: linear-gradient(to right, #f45507, #ffb001);
    height: 100%;
}

.div__main-projetos {
    width: 400px;
    background:linear-gradient(to bottom, #dee2f8,rgb(197, 203, 241));
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-height: 38.8rem; /* ou a altura que você quiser */
    overflow-y: auto; /* só scroll vertical */
    overflow-x: hidden; /* esconde scroll horizontal */
    gap: 10px;
    flex-shrink: 0;
    box-shadow: #c0c6e7 0 0 20px;
}

/* largura da barra */
::-webkit-scrollbar {
    width: 10px;
}

.main-projetosBotoes{
    display: flex;
    justify-content: space-between;
}

.cl_botaoExcluirBloco{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 32, 32);
    border-radius: 10px;
    width: 140px;
    height: 40px;
    gap: 3px;
    padding: 0 3px;
    & i{
        font-size: 1rem;
    }
    & h3{
        color: white;
        font-weight: 400;
    }
        &:hover{
            cursor: pointer;
            background-color: rgb(183, 23, 23);
    }
}

/* trilho da barra */
::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
}

/* parte que desliza */
::-webkit-scrollbar-thumb {
    display: flex;
    position: absolute;
    background: #888;
    border-radius: 25px;
    bottom: 0;
}

/* hover na parte que desliza */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.main__principal {
    padding: 10px 5rem;
    gap: 20px;
    display: flex;
    align-items: start;
    overflow-y: hidden;
    overflow-x: auto;
    height: 72%;
}

.main__botao {
    background: linear-gradient(to right, #f45507, #ffb001);
    color: var(--TextoHeader-);
    font-size: var(--fonte-);
    border: none;
    border-radius: 12px;
    padding: 10px 40px;
    margin-left: 5rem;
    margin-bottom: 15px;
    font-weight: bolder;
    transition: 0.5s ease-in-out;
        &:hover{
        box-shadow: orange 0 0 20px;
    }
}

.input__texto {
    border: none;
    text-align: center;
    color: black;
    height: 42px;
    border-radius: 10px;
    font-size: 1.3rem;
      min-height: 42px;
}

.botao__main_projetos {
    background-color: #00bf63;
    border: none;
    width: 40%;
    height: 40px;
    color: #f6f6f6;
    font-size: 1rem;
    border-radius: 11px;
    min-height: 35px;
    &:hover{
        background-color: #06aa5b;
        cursor: pointer;
    }
}
.botao__main_projetos-dentro {
    background-color: #00bf63;
    border: none;
    color: white;
    padding: 11px;
    border-radius: 5px;
    font-weight: 1200;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#botao__excluir_projetos-dentro {
    color: #d9d9d9;
    background-color: red;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#botao__excluir_projetos-dentro {
    color: #d9d9d9;
    background-color: red;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.input__texto-dentro {
    display: flex;
    flex: 1;
    outline: none;
    height: 100%;
    border: none;
    font-size: 1rem;
}

a {
    color: black;
}

.main__projetos-dentro {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    gap: 10px;

}

.mains__projetos-dentro-2 {
    display: flex;
    flex: 1;
    background-color: #f2f3fd96;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}

.projeto__checkbox {
    display: flex;
    flex: 1;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
}

.conteudo_checkbox {
    transform: scale(1.5);
}

.conteudoAbrivel{
    padding: 10px 10px;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    &:hover{
        cursor: pointer;
        outline: solid 2px rgba(126, 151, 214, 0.37);
    }
}

:root{
    --fonte-: 1.2rem;
    --corDeFundo-: #292d2e;
    --TextoHeader-:#f6f6f6;
    --preto-: #000000;
}


body, html{
    background: linear-gradient(to top,white, rgb(211, 225, 243));
    overflow-y: scroll;   /* desativa scroll horizontal e vertical */
    height: 100%;
    scrollbar-width: none;
}


/* inicio cabeçalho */

#iconeHeader{
    width: 100px;
}

#headerLogo a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__ul{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    list-style-type: none;
    color: var(--TextoHeader-);
    align-items: center;
}

.header__h3{
    font-size: 2.2rem;
    font-weight: 500;
}

.button_li{
    width: 165px;
    height: 45px;

}

.stylepoint{
    &:hover{
        cursor: pointer;
    }
}
a{
    text-decoration: none;
    color: #f6f6f6;
}

.projeto__link a{
    color: rgb(31, 30, 36)
}

/* final cabeçalho */

/* inicio botão e pesquisa */
.allButtons{
    background: linear-gradient(to right, #f45507, #ffb001);
    color: var(--TextoHeader-);
    font-size: var(--fonte-);
    border: none;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    &:hover{
        transform: scale(1.1);
        box-shadow: rgb(243, 117, 32) 0 0 10px;
    }
}

.button__section{
    width: 200px;
    height: 50px;
}

.meioBotaoPesquisa{
    display: flex;
    margin-top: 5rem;
    justify-content: space-around;
    padding: 0 18% 0 17%;
}

#bundabunda{
    background-color: rgb(169, 196, 238);
    border-radius: 50px;
    opacity: 0.5;
}

.pesquisa{
    width: 450px;
    background: none;
    border: none;
    border-radius: 32px;
    font-size: var(--fonte-);
    text-align: center;
    opacity: 1;
    cursor:text;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    & i{
        font-size: 2rem;   
        margin-right: 10px;
        color: rgb(0, 0, 0);
    }
}

.pesquisaInput{
    background: none;
    border: 0;
    flex: 1;
    outline: none;
    padding: 20px;
}

    .pesquisaInput::placeholder{
        color: black;
        opacity: 1;
        font-size: 1rem;
        font-weight: 600;
    }

.active{
    opacity: 0.6;
}

.fa-bars{
    font-size: 42px;
    color: gray;
}

#menuLateral{
    display: none;
    width: 300px;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    padding: 20px;
    position: absolute;
    right: 0;
    background-color: rgb(243, 243, 253);
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(175, 170, 196);
    margin: 10px;
    & ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 20px;
        width: 100%;
        & i{
            color: #292d2e;
        }
        & li{
            padding: 10px 20px;
            width: 100%;
            border-radius: 10px;
        }
        & li:hover{
            cursor: pointer;
            background-color: rgb(237, 237, 245);
            & i{
                color: rgb(255, 123, 0);
            }
            &{
                color: rgb(255, 123, 0);
                font-weight: 600;
            }
        }
        & .fa-solid{
            font-size: 1.5rem;
        }
    }
}