*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root{
    --fonte-: 1.2rem;
    --corDeFundo-: #292d2e;
    --TextoHeader-:#f6f6f6;
    --preto-: #000000;
}

body, html{
    background: linear-gradient(to top, #000000, var(--corDeFundo-));
    height: 100%;
}